body{
    font-family:monospace,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pg.gif) no-repeat; /*the pecter*/
    background-size: cover ;
    box-sizing: border-box;
    background-position: center;
    font-family: "poppins" sans-serif;
    
}
.log{
    
    width: 400px;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(225, 225,225, 0.2);
    backdrop-filter: blur(20px) ;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    border-radius: 15px;
    padding: 15px 30px ;
    
}
 .log h1{
    font-size: 36px;
    text-align: center;
}

 .log .input-log{
    position: relative;
    width: 100%;
    height: 100% ;
    margin: 30px 0; 
    
}
 .input-log input{
    
    width: 356px;
    height: 5px;  
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px ;

} 
.input-log input::placeholder{
    color: white;
}
.input-log i {
    position: absolute;
    right: 25px ;          /*اتحريك الايقونات يسارا بالموجب*/
    top: 50% ;
    transform: translateY(-50%);
    font-size: 20px;
}


.log .str{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    text-decoration: none;
    margin: -15px 0 15px;

}



.log .str{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;

}
.str label input {
    accent-color: #fff ;
    margin-right: 3px;
} 
.str a {
    color: #fff;
    text-decoration: none;
}
.str a:hover {
    text-decoration: underline;
}

.btn-log{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    color: #333 ;
    width: 100%;
    height: 45px;
    border: none;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600; 
}
.log .register{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px ;
}
.register p a{
    color: #fff;
    text-decoration: none;
}
.register p a:hover{
    text-decoration: underline;
} 
